*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}
body{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size:large;
  background-color: rgb(175, 205, 195);
}